<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- UIkit CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/uikit.min.css'%}">
    <title>Risky Wally</title>
  </head>
  <body>
      {% include 'home/header.html' %}
      {% if messages%}
        {% for message in messages %}
          <div>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      {% block body %}
      {% endblock body %}
      {% include 'home/scripts.html' %}
      {% block scripts %}
      {% endblock %}

  </body>
</html>
