{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover" data-src="{% static 'home/img/robots-humans.png'%}" uk-img>
  <p class="uk-margin">
    <a class="uk-button uk-button-secondary uk-button-large" href="{% url 'surveys:start-survey' 17 %}">Play</a>
  </p>
</div>
<div class="uk-container uk-margin-top">
  <h1 class="uk-heading-small">{{homepage.title}}</h1>
  {% if user.is_authenticated %}
  <ul class="uk-iconnav">
    <li><a href="{% url 'home:update-post' homepage.id %}" uk-tooltip="Edit homepage" uk-icon="icon: file-edit"></a></li>
  </ul>
  {% endif %}
  {{homepage.content|safe}}
  <a class="uk-button uk-button-primary uk-margin-large-bottom" href="{% url 'surveys:start-survey' 17 %}">Play now</a>
</div>
{% endblock %}
