{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="uk-container uk-margin-top">
  <form class="uk-form-stacked" method="post">
  {% csrf_token %}
    <fieldset class="uk-fieldset">
      <legend class="uk-legend">Login</legend>
        {{ form|crispy }}
    </fieldset>
    <p class="ukmargin">
      <button class="uk-button uk-button-secondary" type="submit" name="button">Login</button>
    </p>
  </form>
  <hr>
  <p class="uk-text-muted">Don't have an account yet? <a href="{% url 'register'%}">Register here</a></p>
</div>
{% endblock %}
