{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
  <div class="uk-container uk-margin-top">
    <form class="uk-form-stacked" method="POST">
      {% csrf_token %}
      <fieldset class="uk-fieldset">
        <legend class="uk-legend">Register</legend>
        {{ form|crispy }}
      </fieldset>
      <p class="ukmargin">
        <button class="uk-button uk-button-secondary" type="submit" name="button">Register</button>
      </p>
    </form>
    <hr>
      <p class="uk-text-muted">Already have an account? <a href="{% url 'login'%}">Sign in</a></p>
    </div>
{% endblock %}
