{% extends 'base.html' %}
{% block body %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
<div class="uk-container uk-margin-top">
  <form class="uk-form-stacked" method="post">
  {% csrf_token %}
      <legend class="uk-legend">Edit survey</legend>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Name</label>
        <div class="uk-form-controls">
            {{ form.name|add_class:"uk-input"|attr:"placeholder:Survey name" }}
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Description</label>
        <div class="uk-form-controls">
            {{ form.description|add_class:"uk-textarea"|attr:"placeholder:Survey description"}}
        </div>
      </div>
      <script>tinymce.init({selector:'textarea#tinymce'});</script>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Introduction</label>
        <div class="uk-form-controls">
            {{ form.introduction|add_class:"uk-textfield"|attr:"placeholder:Survey description"|attr:"id:tinymce" }}
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Name</label>
        <div class="uk-form-controls">
            {{formset|crispy}}
        </div>
      </div>

      <p class="uk-margin">
        <button class="uk-button uk-button-secondary" type="submit" name="button">Save</button>
      </p>
  </form>
</div>
{% endblock %}
