{% extends 'base.html' %}
{% block body %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<div class="uk-container uk-margin-top uk-animation-fade">
  <p>{{survey.ready|safe}}</p>
  <a class="uk-button uk-button-default uk-margin-bottom" href="#wizard-page-1" uk-toggle>{% trans "Start wizard" %}</a>
  <img class="uk-float-right uk-visible@m" src="{% static 'surveys/img/process.png'%}">
</div>

{% if LANGUAGE_CODE == 'en' %}
<!-- Wizard - Page 1 -->
<div id="wizard-page-1" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto>
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Your goal</h2>
    </div>
    <div class="uk-modal-body">
      <p>
        During the course of one block you will be presented with a series of differently shaped situations. In each situation, you will have to either retrieve a package or deliver some goods to/ from a given destination. In order to achieve this,
        you have 2 options:
      </p>
      <dl>
        <dt>1. <code>Automate</code></dt>
        <dd>The vehicle will fetch the package automatically using its
          self-driving capability relying on artificial intelligence and
          machine learning to navigate to the package safely and
          efficiently. This option has the benefit of generating more profit
          from the delivery of the package, since personal costs that arise
          from using a human operator can be deducted from the package price.
          However, this first option comes with a drawback. Since automated
          processes are not yet perfect, the delivery could go wrong and the
          profit gained from the delivery of the package could be lost. Accidents
          during the delivery will have the following consequences: <br>
          <ol>
            <li><strong>Property damage:</strong> Fragile goods or objects that are on the vehicle's path are damaged.
              This will result in a profit reduction.</li>
            <li><strong>Personal damage:</strong> People crossing the path of the automated vehicle are injured or die. </li>
            <li> <strong>Property & personal damage</strong> Objects are damaged and and the safety of people is compromised. Results in
              both profit loss and injured or dead people.</li>
          </ol>
        </dd>
        <br>
        <dt>2. <code>Manual</code></dt>
        <dd>The second available option is the manual delivery of the package.
          This option will give you the possibility to assign the task to
          a human operator. This method will give you the advantage of a
          safe delivery. However, the personal cost will be deducted from
          the profit made from the delivery of the package.
        </dd>
      </dl>
      <p>
      Your final goal is to choose the right option in order
      to <strong>maximize</strong> the profit from the delivery
      of the package while <strong>ensuring</strong> the safety of the people that are on
      the path of the vehicle.
      </p>
      <div class="uk-modal-footer uk-text-right">
        <a href="#wizard-page-2" class="uk-button uk-button-primary" uk-toggle>Next</a>
      </div>
    </div>
  </div>
</div>

<!-- Wizard - Page 2 -->
<div id="wizard-page-2" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto>
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Game Statistics</h2>
    </div>
    <div class="uk-modal-body">
      <p>
        In order to give you an overview of your score, your progress will be displayed in the upper right corner of the screen. Your
        balance will be represented by the following icon: <span class="uk-badge"><span uk-icon="icon: credit-card"></span></span>.
      </p>
      <p>
        The number of lives you have put to risk will also be displayed in the upper
        right corner and represented by the <span class="uk-badge"><span uk-icon="icon: heart"></span></span> icon.
      </p>
      <p>
        The balance and the injury count will be saved per block, meaning that after
        the completion of every block you will be able to start from scratch. Your results
        will, however, be displayed at the end of the block.
      </p>
      <div class="uk-modal-footer uk-text-right">
        <a href="#wizard-page-1" class="uk-button uk-button-default" uk-toggle>Previous</a>
        <a href="#wizard-page-3" class="uk-button uk-button-primary" uk-toggle>Next</a>
      </div>
    </div>
  </div>
</div>

<!-- Wizard - Page 3 -->
<div id="wizard-page-3" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto>
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Scenarios</h2>
    </div>
    <div class="uk-modal-body">
      <p>
        Over the course of the gaming you will be presented with 3 different scenarios:
      </p>
      <p><strong>Medical:</strong> This scenario takes place in a hospital. One of the
        patients of the hospital is suffering from liver failure and is in desperate
        need of a new liver. It is your job to decide whether the delivery is to
        carried out manually or automatically. If everything goes well, your decision could lead
         to an increase of the hospital's profit, potentially minimizing health care costs.
      </p>
      <p><strong>Urban:</strong> The local delivery service is trying out its new
        self-driving delivery fleet. The task is to complete a food delivery on
        the other side of town. Your task is to decide whether this delivery should
        be carried out manually or automatically. Please keep in mind that there could
        be pedestrians or other vehicles on the path of the vehicle.
      </p>
      <p><strong>Warehouse:</strong> You are working as a supervisor in a warehouse.
        You have just received a new automated forklift. A decision has to be taken whether
        to automate the pick up of a package and increase the profit of the company, or
        play it the safe way and choose the manual way. Please take into account the workers
        and dangerous goods along the way.
      </p>
      <div class="uk-modal-footer uk-text-right">
        <a href="#wizard-page-2" class="uk-button uk-button-default" uk-toggle>Previous</a>
        <a href="#wizard-page-4" class="uk-button uk-button-primary" uk-toggle>Next</a>
      </div>
    </div>
  </div>
</div>

<!-- Wizard - Page 4 -->
<div id="wizard-page-4" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto>
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Scenarios <span class="uk-text-lead">Medical</span></h2>
    </div>
    <div class="uk-modal-body">
      <p>The <strong>medical</strong> scenario is represented as follows:</p>
      <div class="uk-flex uk-flex-center">
        <div>
          <img data-src="{% static 'surveys/img/medical_property_and_personal_risk.png' %}" width="900" height="1200" alt="" uk-img>
        </div>
      </div>
      <p>
        On the right, you can see the automated robot carrying the liver. The task of the robot is to navigate through the floors
        of the hospital, without hitting any other patient or dangerous medical goods to reach the operation theater. Pay attention to
        patients and the medical equipment that could be on the way of the robot.
      </p>
      <div class="uk-modal-footer uk-text-right">
        <a href="#wizard-page-3" class="uk-button uk-button-default" uk-toggle>Previous</a>
        <a href="#wizard-page-5" class="uk-button uk-button-primary" uk-toggle>Next</a>
      </div>
    </div>
  </div>
</div>

<!-- Wizard - Page 5 -->
<div id="wizard-page-5" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto>
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Scenarios <span class="uk-text-lead">Urban</span></h2>
    </div>
    <div class="uk-modal-body">
      <p>The <strong>urban</strong> scenario is represented as follows:</p>
      <div class="uk-flex uk-flex-center">
        <div>
          <img data-src="{% static 'surveys/img/urban_property_and_personal_risk.png' %}" width="900" height="1200" alt="" uk-img>
        </div>
      </div>
      <p>
        In this scenario, the self-driving delivery vehicle is charged with a delivery
        on the other side of town. In order to be successful it has to drive to the given
        delivery point marked by the yellow flag without hitting any of the surrounding vehicles
        or pedestrians.
      </p>
      <div class="uk-modal-footer uk-text-right">
        <a href="#wizard-page-4" class="uk-button uk-button-default" uk-toggle>Previous</a>
        <a href="#wizard-page-6" class="uk-button uk-button-primary" uk-toggle>Next</a>
      </div>
    </div>
  </div>
</div>

<!-- Wizard - Page 6 -->
<div id="wizard-page-6" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto>
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Scenarios <span class="uk-text-lead">Urban</span></h2>
    </div>
    <div class="uk-modal-body">
      <p>The <strong>warehouse</strong> scenario is represented as follows:</p>
      <div class="uk-flex uk-flex-center">
        <div>
          <img data-src="{% static 'surveys/img/warehouse_property_and_personal_risk.png' %}" width="900" height="1200" alt="" uk-img>
        </div>
      </div>
      <p>
        In the last scenario, you act as a supervisor of a warehouse. Your task is to
        decide if you are willing to trust the remote controlled automated forklift to
        drive through the warehouse's corridors without damaging any of the valuable goods while
        at the same time ensuring the safety of your co-workers.
      </p>
      <div class="uk-modal-footer uk-text-right">
        <a href="#wizard-page-5" class="uk-button uk-button-default" uk-toggle>Previous</a>
        <a href="#wizard-page-7" class="uk-button uk-button-primary" uk-toggle>Next</a>
      </div>
    </div>
  </div>
</div>

<!-- Wizard - Page 7 -->
<div id="wizard-page-7" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto>
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Decision aids</h2>
      <p>In order to make an informed decision, you will be given additional information.</p>
    </div>
    <div class="uk-modal-body">
      <h3>The vehicle's previous experience</h3>
      <p>
        First of all, you will receive detailed information about the experience that the automated vehicle has acquired. Not only will you be presented
        with the <strong>number of rides </strong> the vehicle has already made, but also about the <strong>number of errors</strong> that the vehicle has made
        during these rides. Details about the vehicle are shown on the left-hand side of the screen and will be displayed as follows:
      </p>
      <div class="uk-flex uk-flex-center">
        <img data-src="{% static 'surveys/img/medical_reliability.png' %}" uk-img>
        <img data-src="{% static 'surveys/img/urban_reliability.png' %}" uk-img>
        <img data-src="{% static 'surveys/img/warehouse_reliability.png' %}" uk-img>
      </div>
      <h3>Decision support</h3>
      <p>Furthermore, you will be given a suggestion whether to automate or not. This suggestion comes
        from 3 different instances:</p>
      <div class="uk-grid-medium" uk-grid>
        <div class="uk-width-1-3">
          <h4>The engineer</h4>
        </div>
        <div class="uk-width-1-3">
          <h4>The statistical analysis software</h4>
        </div>
        <div class="uk-width-1-3">
          <h4>The artificial intelligence</h4>
        </div>
      </div>
      <div class="uk-grid-medium" uk-grid>
        <div class="uk-width-1-6">
          <img data-src="{% static 'surveys/img/engineer.png' %}" width="100px" uk-img>
        </div>
        <div class="uk-width-1-6">
          <p>The engineer will
            give you a suggestion based on its long experience with automated systems. </p>
        </div>
        <div class="uk-width-1-6">
          <img data-src="{% static 'surveys/img/sas.png' %}" width="100px" uk-img>
        </div>
        <div class="uk-width-1-6">
          <p>The statistical analysis software will make calculation based on the past
            experiences of the automated vehicle. These calculation are based on standard statistical methods</p>
        </div>
        <div class="uk-width-1-6">
          <img data-src="{% static 'surveys/img/ai.png' %}" width="100px" uk-img>
        </div>
        <div class="uk-width-1-6">
          <p>The artificial intelligence uses neural networks, machine learning, and
            deep learning to predict which of the 2 options (<code>Autamate</code> and <code>Manual</code>) is best suited. </p>
        </div>
      </div>
      <h3>Profit</h3>
      <p>Last but not least you will be given an indication of how much profit you could
        potentially make if the automation goes well. Similarly, you will also be noticed about the potential
        profit if you opt for the manual method. These pieces of information will be displayed close to the <code>automate</code> and
        <code>manual</code> buttons.</p>
      <div class="uk-modal-footer uk-text-right">
        <a href="#wizard-page-6" class="uk-button uk-button-default" uk-toggle>Previous</a>
        <a href="#wizard-page-8" class="uk-button uk-button-primary" uk-toggle>Next</a>
      </div>
    </div>
  </div>
</div>
<!-- Wizard - Page 6 -->
<div id="wizard-page-8" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto>
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Ready to start the game</h2>
    </div>
    <div class="uk-modal-body">
      <h3>Congratulations!</h3>
      <p>
        You are now ready to start the experiment. Before you start, you will have the
        chance to go through a short training round. Your only task is to choose either <strong>Automate</strong> <code>Keyboard: [A]</code>
        or <strong>Manual</strong> <code>Keyboard: [C]</code>. In order to proceed to the next trial hit the <code>Spacebar</code>.
      </p>
      <form class="uk-margin-medium-bottom" action="{% url 'surveys: check'}" method="post">
        <label><input id="checked" class="uk-checkbox" type="checkbox"> &nbsp;&nbsp; I have read the instructions and will complete the experiment in a serious manner.</label>
      </form>
      <div id="alert" class="uk-alert-danger" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          <p>Please check the tickmark!</p>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <a href="#wizard-page-7" class="uk-button uk-button-default" uk-toggle>Previous</a>
        <button id="to-trial" name="button"class="uk-button uk-button-default">Start training</button>
      </div>
      <div class="hidden">
        <input id="trial-redirect" name="trial-redirect" type="hidden" value="{% url 'surveys:training' survey.id session.key %}">
      </div>
    </div>
  </div>
</div>

{% elif LANGUAGE_CODE == 'de' %}
<div id="wizard-page-1" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto>
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Ihr Ziel</h2>
    </div>
    <div class="uk-modal-body">
      <p>
        In jedem Block werden Sie einer Reihe von Situation ausgesetzt sein, in denen Sie
        entweder ein Paket abholen oder eine Ware an einen bestimmten Ort liefern sollen. Zur Bewältigung
        dieser Aufgaben stehen Ihnen folgende 2 Möglichkeiten zur Verfügung
        <dl>
          <dt>1. <code>Automatisieren</code></dt>
          <dd>Das Fahrzeug holt das Paket automatisiert ab, indem es
            voll und ganz auf seine selbst-fahrenden Fähigkeiten zurückgreift. Dabei
            bedient es sich Technologien wie <em>künstliche Intelligenz</em>, <em>
              deep learning</em>, oder <em>neuronale Netzwerke</em> um das Paket sicher und zuverlässig
            zu befördern. Diese Vorgehensweise hat den Vorteil, dass Personalkosten eingespart
            werden können, welche bei einer herkömmlichen Lieferung erzeugt werden würden. Somit
            können Sie den Gewinn steigern, den Sie durch die Lieferung des Pakets erzeugen. Die automatisierte Methode hat jedoch einen Nachteil:
            Da automatisierte Prozesse noch nicht zu 100% verlässlich sind, kann es während der Lieferung zu Unfällen kommen. Folgende Konsequenzen kann ein Unfall mit sich ziehen:<br>
            <ol>
              <li><strong>Sachschaden:</strong>
                Gegenstände, die sich auf dem Weg des Fahrzeuges befinden werden beschädigt und es kommt zu einer Gewinneinbuße.</li>
              <li><strong>Personenschaden:</strong> Personen auf dem Weg werden verletzt oder schwer verletzt. </li>
              <li><strong>Sachschaden & Personenschaden:</strong> Gegenstände werden beschädigt und Personen werden verletzt oder schwer verletzt. Auch hier kommt es zu einer Gewinneinbuße.</li>
            </ol>
          </dd>
          <br>
          <dt>2. <code>Manuel</code></dt>
          <dd>Die zweite Möglichtkeit ist die Manuelle Zustellung/ Abholung des Paketes.
            Diese Option ermöglicht es Ihnen die Aufgabe von einer menschlichen Arbeitskraft
            ausführen zu lassen. Dabei können Sie sich darauf verlassen, dass das Paket
            sicher an sein Ziel kommt, ohne Schaden anzurichten oder Personen in Gefahr zu bringen. Bei dieser
            Methode werden jedoch die Personalkosten vom Gewinn der Zulieferung des Paketes abgezogen und es kommt
            zu einer Gewinnminderung.
          </dd>
        </dl>
        Ihr Ziel ist es, die Methode zu wählen, welche Ihren Profit <strong>maximiert</strong>, dabei
        aber die Sicherheit von Personen die sich auf dem Weg des Fahrzeugs befinden versucht zu <strong>garantieren</strong>.
      </p>
      <div class="uk-modal-footer uk-text-right">
        <a href="#wizard-page-2" class="uk-button uk-button-primary" uk-toggle>Weiter</a>
      </div>
    </div>
  </div>
</div>

<!-- Wizard - Page 2 -->
<div id="wizard-page-2" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto>
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Spielstand</h2>
    </div>
    <div class="uk-modal-body">
      <p>
        Um Ihnen einen Überblick zu verschaffen, wird Ihr Fortschritt in der oberen rechten Bildschirmhälfte angezeigt. Ihr Kontostand wird mit folgendem Symbol markiert: <span class="uk-badge"><span uk-icon="icon: credit-card"></span></span>.
      </p>
      <p>
        Die Anzahl an Verletzten die durch die Folgen Ihrer Entscheidungen behandelt werden mussten, werden Ihnen ebenfalls
        im oberen rechten Bildschirmrand angezeigt und durch folgendes Symbol gekennzeichnet: <span class="uk-badge"><span uk-icon="icon: heart"></span></span>.
      </p>
      <p>
        Ihr Kontostand und die Anzahl an Verletzen werden jeweils pro Block gespeichert. Dies bedeutet, dass sich
        der Kontostand und die Verletztenzahl nach jedem Block zurücksetzt und Sie von neuem starten können.
      </p>
      <p>Im Laufe des Spiels werden Sie auf 3 verschiedene Szenarien stoßen, die im Folgenden erklärt werden.</p>
      <div class="uk-modal-footer uk-text-right">
        <a href="#wizard-page-1" class="uk-button uk-button-default" uk-toggle>Zurück</a>
        <a href="#wizard-page-4" class="uk-button uk-button-primary" uk-toggle>Weiter</a>
      </div>
    </div>
  </div>
</div>

<!-- Wizard - Page 3 -->
<div id="wizard-page-3" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto>
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Szenario</h2>Medizin
    </div>
    <div class="uk-modal-body">
      <p>
        Im Laufe des Spiels werden Sie auf 3 verschiedene Szenarien stoßen:
      </p>
      <p><strong>Medizin:</strong>
      </p>
      <p><strong>Urban:</strong> Der lokale Lieferservice testet seine neue
        selbstfahrende Lieferflotte. Ihre Aufgabe ist es eine Essenslieferung auf die andere Seite der
        Stadt zu bringen. Sie müsssen entscheiden, ob sie diese Lieferung automatisieren oder manuel steuern. Beachten Sie dabei, dass sich
        Fußgänger und andere Autos auf dem Weg des Fahrzeugs befinden können.
      </p>
      <p><strong>Lager:</strong> Sie arbeiten als Logistikmanager in einem Lager und haben seit einigen
        Monaten einen automatisierten Gabelstapler im Einsatz. Sie müssen für jedes Paket entscheiden, ob Sie den
        automatisierten Gabelstapler nutzen und somit den Gewinn Ihrer Firma steigern, oder ob Sie auf Nummer sicher gehen und
        die manuelle Variante wählen. Achten Sie dabei darauf, ob sich Personen oder wertvolle Gegenstände im Lager befinden.
      </p>
      <div class="uk-modal-footer uk-text-right">
        <a href="#wizard-page-2" class="uk-button uk-button-default" uk-toggle>Zurück</a>
        <a href="#wizard-page-4" class="uk-button uk-button-primary" uk-toggle>Weiter</a>
      </div>
    </div>
  </div>
</div>

<!-- Wizard - Page 4 -->
<div id="wizard-page-4" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto>
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Szenario</h2> Medizin
    </div>
    <div class="uk-modal-body">
      <p>Das <strong>Medizin</strong>-Szenario wird wie folgt dargestellt:</p>
      <div class="uk-flex uk-flex-center">
        <div>
          <img data-src="{% static 'surveys/img/medical_property_and_personal_risk.png' %}" width="900" height="1200" alt="" uk-img>
        </div>
      </div>
      <p>
        Dieses Szenario findet im Krankenhaus statt. Einer der Patienten
          leidet an akutem Leberversagen und soll eine neue Leber bekommen. Die Spenderleber soll so schnell wie möglich zum Operationssaal gebracht werden.
        Auf der rechten Seite wird ein Krankenhausroboter dargestellt, der die zuvor erwähnte Leber befördern soll. Der Roboter, hat die
        Aufgabe die Leber so schnell wie möglich in den OP-Saal zu bringen. Es ist Ihre Aufgabe zu entscheiden, ob die Lieferung manuell oder automatisch durchgeführt werden soll.
        Wählen Sie die automatisierte Methode und verläuft diese reibungslos, könnte so der Gewinn des Krankenhaus maximiert werden, und laufende Kosten inherhalb
        des Gesundheitssystems auf lange dauer minimiert werden. Bei Ihrer Entscheidung sollten Sie darauf achten, ob sich
        andere Patienten oder medizinische Geräte auf dem Weg des Roboters befinden.
        <div class="uk-modal-footer uk-text-right">
          <a href="#wizard-page-2" class="uk-button uk-button-default" uk-toggle>Zurück</a>
          <a href="#wizard-page-5" class="uk-button uk-button-primary" uk-toggle>Weiter</a>
        </div>
    </div>
  </div>
</div>

<!-- Wizard - Page 5 -->
<div id="wizard-page-5" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto>
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Szenario</h2>Urban
    </div>
    <div class="uk-modal-body">
      <p>Das<strong> Urban</strong>-Szcenario wird wie folgt dargestellt:</p>
      <div class="uk-flex uk-flex-center">
        <div>
          <img data-src="{% static 'surveys/img/urban_property_and_personal_risk.png' %}" width="900" height="1200" alt="" uk-img>
        </div>
      </div>
      <p>
        Der lokale Lieferservice testet seine neue
          selbstfahrende Lieferflotte. Ihre Aufgabe ist es eine Essenslieferung auf die andere Seite der
          Stadt zu bringen. Der Ausgangspunkt befindet sich
        auf der rechten Seite der Stadt und das Ziel ist durch eine gelbe Flage markiert. Sie müsssen entscheiden, ob Sie diese Lieferung automatisieren oder manuel steuern. Beachten Sie dabei, dass sich
        Fußgänger und andere Fahrzeuge auf dem Weg des Fahrzeugs befinden können. Der Einfachheit halber werden Kollisionen mit Fahrzeugen ausschliesslich als Sachschaden gewertet.
      </p>
      <div class="uk-modal-footer uk-text-right">
        <a href="#wizard-page-4" class="uk-button uk-button-default" uk-toggle>Zurück</a>
        <a href="#wizard-page-6" class="uk-button uk-button-primary" uk-toggle>Weiter</a>
      </div>
    </div>
  </div>
</div>

<!-- Wizard - Page 6 -->
<div id="wizard-page-6" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto>
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Scenario</h2>Lagerhaus
    </div>
    <div class="uk-modal-body">
      <p>Das<strong> Lager</strong>-Szenario wird wie folgt dargestellt:</p>
      <div class="uk-flex uk-flex-center">
        <div>
          <img data-src="{% static 'surveys/img/warehouse_property_and_personal_risk.png' %}" width="900" height="1200" alt="" uk-img>
        </div>
      </div>
      <p>
        Sie arbeiten als Logistikmanager in einem Lager und haben seit einigen
          Monaten einen automatisierten Gabelstappler im Einsatz. Um das Paket abzuholen, soll der Gabelstappler das Lager von rechts nach links durchqueren. Sie müssen für jedes Paket entscheiden, ob Sie den
          automatisierten Gabelstappler nutzen und somit den Gewinn Ihrer Firma steigern, oder ob Sie auf Nummer sicher gehen und
          die manuelle Variante wählen. Dabei
        ist zu berücksichtigen, dass sich noch andere Arbeiter im Warenhaus befinden können und das an manchen Stellen wertvolle Ware in den Gängen stehen kann, die darauf
        wartet in die Regale eingeräumt zu werden.
      </p>
      <div class="uk-modal-footer uk-text-right">
        <a href="#wizard-page-5" class="uk-button uk-button-default" uk-toggle>Zurück</a>
        <a href="#wizard-page-7" class="uk-button uk-button-primary" uk-toggle>Weiter</a>
      </div>
    </div>
  </div>
</div>

<!-- Wizard - Page 7 -->
<div id="wizard-page-7" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto>
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Entscheidungshilfen</h2>
    </div>
    <div class="uk-modal-body">
      <p>Um Ihre Entscheidung leichter zu machen, stehen Ihnen verschiedene Entscheidungshilfen zu Verfügung.</p>
      <h3>Bisherige Erfahrung des Fahrzeuges</h3>
      <p>
        Um eine fundierte Entscheidung zu treffen, erhalten Sie Informationen über die bisherige Erfahrung des automatisierten Fahrzeuges.
        Auf der linken Bildschirmhälfte erhalten Sie Informationen zur Anzahl absolvierter Fahrten, sowie zur Anzahl an Zwischenfällen, die während
        dieser Fahrten aufgetreten sind. Die Erfahrung des Fahrzeuges kann wie folgt dargestellt werden:
      </p>
      <div class="uk-flex uk-flex-center">
        <div class="uk-margin-large-right uk-clearfix">
          <img class="uk-float-left uk-margin-small-right" src="{% static 'surveys/img/forklift.png' %}" width="100" uk-svg>
          <p class="uk-margin "><strong>{% trans "Attempts" %}: </strong>50<br><strong>{% trans "Errors" %}: </strong>10</p>
        </div>
        <div class="uk-margin-large-right uk-clearfix">
          <img class="uk-float-left uk-margin-small-right" src="{% static 'surveys/img/robot.png' %}" width="100" uk-svg>
          <p class="uk-margin "><strong>{% trans "Attempts" %}: </strong>50<br><strong>{% trans "Errors" %}: </strong>10</p>
        </div class="uk-margin-large-right uk-clearfix">
        <div>
          <img class="uk-float-left uk-margin-small-right" src="{% static 'surveys/img/car.png' %}" width="100" uk-svg>
          <p class="uk-margin "><strong>{% trans "Attempts" %}: </strong>50<br><strong>{% trans "Errors" %}: </strong>10</p>
        </div>
      </div>
      <h3>Assistenz</h3>
      <p>Außerdem wird Ihnen einen Vorschlag präsentiert, der Ihnen sagt ob Sie automatisieren sollten oder nicht. Dieser Vorschlag kann von 3
        verschiedenen Instanzen kommen und wird auf der rechten Bildschirmhälfte angezeigt.
      </p>
      <div class="uk-grid-medium" uk-grid>
        <div class="uk-width-1-3">
          <h4>Der Ingenieur</h4>
        </div>
        <div class="uk-width-1-3">
          <h4>Die statistische Analysesoftware</h4>
        </div>
        <div class="uk-width-1-3">
          <h4>Die künstliche Intelligenz</h4>
        </div>
      </div>
      <div class="uk-grid-medium" uk-grid>
        <div class="uk-width-1-6">
          <img data-src="{% static 'surveys/img/engineer.png' %}" width="100px" uk-img>
        </div>
        <div class="uk-width-1-6">
          <p>Der Ingenieur gibt Ihnen einen Vorschlag basierend auf seiner langjährigen Erfahrung mit automatisierten Systemen. </p>
        </div>
        <div class="uk-width-1-6">
          <img data-src="{% static 'surveys/img/sas.png' %}" width="100px" uk-img>
        </div>
        <div class="uk-width-1-6">
          <p>Die statistische Analysesoftware, berechnet Voraussagen, basierend auf den vorherigen Fahrten und statistischer Standardmethoden.</p>
        </div>
        <div class="uk-width-1-6">
          <img data-src="{% static 'surveys/img/ai.png' %}" width="100px" uk-img>
        </div>
        <div class="uk-width-1-6">
          <p>Die künstliche Intelligenz nutzt neuronale Netzwerke, machine learning, and
            deep learning um Vorherzusagen, welcher der beiden Optionen am besten geeignet ist. </p>
        </div>
      </div>
      <h3>Profit</h3>
      <p>Schließlich wird Ihnen noch angezeigt wieviel Gewinn durch die Nutzung der beiden Verfahren (<em>Automatisieren</em> und <em>Manuel</em> ) erzielt werden kann.
        <div class="uk-modal-footer uk-text-right">
          <a href="#wizard-page-6" class="uk-button uk-button-default" uk-toggle>Zurück</a>
          <a href="#wizard-page-8" class="uk-button uk-button-primary" uk-toggle>Weiter</a>
        </div>
    </div>
  </div>
</div>
<!-- Wizard - Page 6 -->
<div id="wizard-page-8" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto>
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Bereit zu beginnen?</h2>
    </div>
    <div class="uk-modal-body">
      <h3>Herzlichen Glückwunsch!</h3>
      <p>
        Geschafft! Sie sind jetzt bereit das Experiment zu starten. Bevor Sie starten, führen Sie noch eine kleine Trainingsrunde durch.
        Dabei entscheiden Sie, ob Sie <strong>Automatisieren</strong> <code>Tastatur: [A]</code> oder <strong>Manuel</strong> <code>Tastatur: [M]</code>
        vorgehen wollen. Um zur nächsten Situation überzugehen drücken Sie <code>Leerzeichen</code>.
      </p>
      <form class="uk-margin-medium-bottom" action="{% url 'surveys: check'}" method="post">
        <label><input id="checked" class="uk-checkbox" type="checkbox"> &nbsp;&nbsp; Ich habe die Anleitung gelesen und verpflichte mich das Experiment gewissenhaft durchzuführen! </label>
      </form>
      <div id="alert" class="uk-alert-danger" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          <p>Bitte das Kästschen klicken!</p>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <a href="#wizard-page-7" class="uk-button uk-button-default" uk-toggle>Zurück</a>
        <button id="to-trial"  name="button"class="uk-button uk-button-default">Training starten</button>
      </div>
    </div>
  </div>
</div>
<div class="hidden">
  <input id="trial-redirect" name="trial-redirect" type="hidden" value="{% url 'surveys:training' survey.id session.key %}">
</div>
{% else %}
<div class="uk-alert-danger" uk-alert>
  <a class="uk-alert-close" uk-close></a>
  <p>Language not translated</p>
</div>
{% endif %}
{% load static %}
<script src="{% static 'surveys/js/checkbox_validation.js' %}"></script>
{% endblock %}
