{% extends 'base.html' %}
{% block body %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<br />
<div class="uk-container uk-margin-top content">
    <h1>Das Experiment</h1>
    <p>{{survey.ready|safe}}</p>
    <a class="uk-button uk-button-primary uk-margin-large-bottom" style="background-color: #707070" href="{% url 'surveys:instructions2' survey.id session.key %}" uk-toggle>{% trans "Weiter" %}</a>
    <img class="uk-float-right uk-visible@m" width="300" src="{% static 'surveys/img/process.png'%}">
</div>

<div class="hidden">
    <input id="trial-redirect" name="trial-redirect" type="hidden" value="{% url 'surveys:instructions2' survey.id session.key %}">
</div>

{% load static %}
<script src="{% static 'surveys/js/checkbox_validation.js' %}"></script>
{% endblock %}
