{% extends 'base.html'%}
{% block body%}
{% load static %}
<div class="uk-container uk-margin-top uk-margin-large-bottom">
  <a href="{% url 'surveys:survey' session.survey.id %}" uk-icon="icon: chevron-left" uk-tooltip="Back to overview"></a>
  <h2 class="uk-heading-small uk-heading-bullet">{{session.key}}</h2>
  <ul uk-tab>
    <li><a href="#">General Information</a></li>
    <li><a href="#">Trials</a></li>
    <li><a href="#">Statistics</a></li>
  </ul>
  <div class="uk-switcher">
    <div class="uk-animation-slide-bottom-small">
      <span class="uk-float-right">ID: <span class="uk-label">{{session.participantID}}</span></span>
      <p>Key: <span class="uk-badge">{{session.key}}</span></p>
      <p class="uk-article-meta">Start date: {{session.start_date}}.</p>
      <p class="uk-article-meta">End date: {{session.end_date}}.</p>
      <p>IP-Address: <code>{{session.ip_address}}</code> </p>
      <dl class="uk-description-list">
        <dt>Comment</dt>
        <dd>{{session.comment}}</dd>
      </dl>

    </div>
    <div "uk-animation-slide-bottom-small ">
      <p>Trial count: <span class="uk-badge">{{session.trial_set.count}}</span>
      </p>
      <table class="uk-table uk-table-divider">
        <thead>
          <tr>
            <th>ID</th>
            <th>Reliability</th>
            <th>DSS</th>
            <th>Risk</th>
            <th>Scenario</th>
            <th>Decision</th>
            <th>Time</th>
            <th>Feedback</th>
          </tr>
        </thead>
        <tbody>
          {%for trial in session.trial_set.all %}
          <tr>
            <td>{{trial.id}}</td>
            <td>{{trial.reliability}}</td>
            <td>{{trial.dss}}</td>
            <td>{{trial.risk}}</td>
            <td>{{trial.scenario}}</td>
            <td>{{trial.decision}}</td>
            <td>{{trial.trialDuration}}</td>
            <td>{{trial.feedbackDuration}}</td>
          </tr>
          {% endfor %}
        </tbody>

      </table>

      <a href="#" uk-totop uk-scroll></a>
    </div>
    <div>
    <h2>Times</h2>
    <hr>
    <div class="uk-column-1-2 uk-animation-slide-bottom-small ">
    <input id="api-call-trialtimes" name="sessionkey" type="hidden" value="{% url 'surveys:api-trial-times' session.key %}">

      <div>
        <canvas id="trialtimes" width="400" height="400"></canvas>
      </div>
      <div class="uk-margin-large-top">
        <p>Average trial duration: <span class="uk-badge">{{avgTrialDuration}}</span> Seconds</p>
        <p>Average feedback duration: <span class="uk-badge"> {{avgFeedBackDuration}}</span> Seconds</p>
        <p>Total session duration: <span class="uk-badge"> {{totalTrialDuration}}</span> Minutes</p>
      </div>
    </div>
    <h2>Injuries</h2>
    <hr>
    <p> Number of injuries: <span class="uk-badge">{{injuries}}</span></p>
    </div>
  </div>
</div>
<script src="{% static 'surveys/js/graphs.js' %}"></script>
{% endblock %}
