{% extends 'base.html'%}
{% block body%}
{% load static %}
<div class="uk-container uk-margin-top uk-margin-large-bottom">
  <a href="{% url 'surveys:survey' session.survey.id %}" uk-icon="icon: chevron-left" uk-tooltip="Back to overview"></a>
  <h2 class="uk-heading-small uk-heading-bullet">{{session.key}}</h2>
  <ul uk-tab>
    <li><a href="#">General Information</a></li>
    <li><a href="#">Trials</a></li>
    <li><a href="#">Statistics</a></li>
  </ul>
  <div class="uk-switcher">
    <div class="uk-animation-slide-bottom-small">
      <span class="uk-float-right">ID: <span class="uk-label">{{session.participantID}}</span></span>
      <p>Key: <span class="uk-badge">{{session.key}}</span></p>
      <p class="uk-article-meta">Start date: {{session.start_date}}.</p>
      <p class="uk-article-meta">End date: {{session.end_date}}.</p>
      <p>IP-Address: <code>{{session.ip_address}}</code> </p>
      <dl class="uk-description-list">
        <dt>Comment</dt>
        <dd>{{session.comment}}</dd>
      </dl>
      <h3>Interview</h3>
      <hr>
      {% if session.audio %}
      <audio controls>
        <source src="{{session.audio.url}}" type="audio/mp3">
        Your browser does not support the audio element.
      </audio>
      <a href="{% url 'api:transcribe' session.key %}" class="uk-button uk-button-default uk-margin-medium-left">Transcribe</a>
      <h3>Transcription</h3>
      <hr>
      <p>{{session.transcript}}</p>
      {% else %}
      <a href="{% url 'admin:index' %}" class="uk-button uk-button-default">Upload file</a>
      {% endif %}

    </div>
    <div class="uk-animation-slide-bottom-small">
      <p>Trial count: <span class="uk-badge">{{session.trial_set.count}}</span>
      </p>
      <table class="uk-table uk-table-divider">
        <thead>
          <tr>
            <th>ID</th>
          </tr>
        </thead>
        <tbody>
          {%for trial in session.trial_set.all %}
          <tr>
            <td>{{trial.id}}</td>
          </tr>
          {% endfor %}
        </tbody>

      </table>

      <a href="#" uk-totop uk-scroll></a>
    </div>
  </div>
</div>
<script src="{% static 'surveys/js/session_graphs.js' %}"></script>
<script src="{% static 'surveys/js/transcribe.js' %}"></script>

{% endblock %}
