{% extends 'base.html'%}
{% block body%}
<div class="uk-container uk-margin-top uk-margin-large-bottom">
  <a href="{% url 'surveys:survey' session.survey.id %}" uk-icon="icon: chevron-left" uk-tooltip="Back to overview"></a>
  <h2 class="uk-heading-small uk-heading-bullet">{{session.key}}</h2>
  <ul uk-tab>
    <li><a href="#">General Information</a></li>
    <li><a href="#">Trials</a></li>
    <li><a href="#">Statistics</a></li>
  </ul>
  <div class="uk-switcher">
    <div class="uk-animation-slide-bottom-small">
      <span class="uk-float-right">ID: <span class="uk-label">{{session.participantID}}</span></span>
      <p>Key: <span class="uk-badge">{{session.key}}</span></p>
      <p class="uk-article-meta">Start date: {{session.start_date}}.</p>
      <p class="uk-article-meta">End date: {{session.end_date}}.</p>
      <p>IP-Address: <code>{{session.ip_address}}</code> </p>
      <dl class="uk-description-list">
        <dt>Comment</dt>
        <dd>{{session.comment}}</dd>
      </dl>

    </div>
    <div "uk-animation-slide-bottom-small ">
      <table class="uk-table uk-table-divider">
        <thead>
          <tr>
            <th>ID</th>
            <th>Reliability</th>
            <th>DSS</th>
            <th>Risk</th>
            <th>Scenario</th>
            <th>Decision</th>
            <th>Time</th>
            <th>Feedback</th>
          </tr>
        </thead>
        <tbody>
          {%for trial in session.trial_set.all %}
          <tr>
            <td>{{trial.id}}</td>
            <td>{{trial.reliability}}</td>
            <td>{{trial.dss}}</td>
            <td>{{trial.risk}}</td>
            <td>{{trial.scenario}}</td>
            <td>{{trial.decision}}</td>
            <td>{{trial.trialDuration}}</td>
            <td>{{trial.feedbackDuration}}</td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
      <a href="#" uk-totop uk-scroll></a>
    </div>
    <div class="uk-column-1-2 uk-animation-slide-bottom-small ">
    <input id="api-call-trialtimes" name="sessionkey" type="hidden" value="{% url 'surveys:api-trial-times' session.key %}">

      <div>
        <canvas id="trialtimes" width="400" height="400"></canvas>
      </div>
      <div>
        <h1 class="uk-heading-medium">Number of injuries: {{injuries}}</h1>
      </div>


      <script>
        var endpoint = $('#api-call-trialtimes').val();
        var trialTimes = [];
        var feedbackTimes = [];
        var trialNames = [];

        $.ajax({
          method: "GET",
          url: endpoint,
          success: function(data) {
            trialTimes = data.trialDuration;
            trialNames = data.trials;
            feedbackTimes = data.feedbackDuration;

            var ctx = document.getElementById('trialtimes').getContext('2d');
            var config = {
              type: 'line',
              data: {
                labels: trialNames,
                datasets: [{
                  label: 'Feedback time',
                  fill: false,
                  borderColor: '#995D81',
                  backgroundColor: '#995D81',
                  data: feedbackTimes

                }, {
                  label: 'Trial duration ',
                  fill: false,
                  borderColor: "#EB8258",
                  backgroundColor: '#EB8258',
                  data: trialTimes

                }]
              },
              options: {
                title: {
                  display: true,
                  text: 'Feedback times and trial duration'
                },
              }
            };

            var myChart = new Chart(ctx, config);

          },
          error: function(error) {
            console.log(error)
          }
        });
      </script>
    </div>
  </div>
</div>
{% endblock %}
