{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="preload uk-flex uk-height-medium uk-margin uk-text-center">
  <div class="uk-margin-auto uk-margin-auto-vertical uk-width-1-2@s">
    <div uk-spinner="ratio: 3">
    </div>
  </div>
</div>
<div class="uk-container uk-margin-top content">
  <h2 class="uk-heading-small">Starting survey</h2>
  <p>{{survey.introduction|safe}}</p>
  {% if redirect is not None %}
  <a class="uk-button uk-button-default" href='{{redirect.url}}?sessionkey={{session.key}}'>Start</a>
  {% else %}
  <a class="uk-button uk-button-default" href="{% url 'surveys:survey-ready' survey.id session.key %}">Start</a>
  {% endif %}
  <p>{{set}}</p>
</div>
<script>
  $(function() {
    $(".preload").fadeOut(2000, function() {
      $('.content').fadeIn(1000);
    });
  });
</script>

{% endblock %}
