{% extends 'base.html' %}
{% block body %}
{% load static %}
{% load i18n %}
<div class="uk-container uk-margin-top">
  <h2 class="uk-heading-small">{% trans "Results" %}</h2>
  <p>{% trans "Congratulations! You have finished the training round. Here are your results:" %}</p>
  <a class="uk-button uk-button-default" href="{% url 'surveys:trial' survey.id session.key %}">{% trans "Start real rounds!" %}</a>
  <img class="uk-float-right uk-visible@m" src="{% static 'surveys/img/results.png'%}">
</div>
{% endblock %}
