{% extends 'base.html'%}
{% block body%}
<div class="uk-container uk-margin-top">
  <a href="{% url 'surveys:surveys' %}" uk-icon="icon: chevron-left" uk-tooltip="Back to overview"></a>
  <h2 class="uk-heading-small uk-heading-bullet">{{survey.name}}</h2>
  <p class="uk-article-meta">Created by by <a href="#">{{survey.user}}</a> on {{survey.date_created}}.</p>
  <ul uk-tab>
    <li><a href="#">General Information</a></li>
    <li><a href="#">Redirects</a></li>
    <li><a href="#">Factors</a></li>
    <li><a href="#">Sessions</a></li>
  </ul>
  <div class="uk-switcher">
    <div class="uk-animation-slide-bottom-small">
      <ul class="uk-iconnav">
        <li><a href="{% url 'surveys:edit-survey' survey.id %}" uk-tooltip="Edit general information" uk-icon="icon: file-edit"></a></li>
      </ul>
      <h3>Description</h3>
      <p>{{survey.description}}</p>
      <h3>Introduction</h3>
      <p>{{survey.introduction|safe}}</p>
      <h3>Ready text</h3>
      <p>{{survey.reade|safe}}</p>
    </div>
    <div class="uk-animation-slide-bottom-small">
      <h3>Redirects</h3>
      {% for redirect in survey.redirect_set.all %}
      <p>{{redirect.purpose}} <code>{{redirect.url}}</code></p>
      {% endfor %}
    </div>
    <div class="uk-animation-slide-bottom-small">
      {% for setfactor in survey.setfactor_set.all %}
      <p class="uk-text-lead">{{setfactor}}</p>
      <ul class="uk-list uk-list-striped">
        {% for level in setfactor.setlevel_set.all %}
        <li>{{level.name}}  <code>{{level.slug}}</code> <span class="uk-label uk-align-right"> {{level.value}}</span></li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
    <div>
      {% if survey.session_set.all %}
      <a class="uk-button uk-button-danger" href="#" uk-toggle="target: #delete-modal">Delete all</a>
      {% endif %}
      <div id="delete-modal" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
            <form action="{% url 'surveys:delete-sessions' survey.id%}" method="post">
              {% csrf_token %}
              <h2 class="uk-modal-title">Delete s essions</h2>
              <p>Are you sure that you want to delete all the sessions?</p>
              <p class="uk-text-right">
                  <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                  <button class="uk-button uk-button-danger" type="submit">Delete</button>
              </p>
            </form>
          </div>

      </div>
      <table class="uk-table uk-table-divider">
        <thead>
            <tr>
                <th class="uk-table-shrink">#</th>
                <th class="uk-table-expand">Session ID</th>
                <th class="uk-width-small">Trial</th>
            </tr>
        </thead>
        <tbody>
            {%for session in survey.session_set.all %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{session.key}}</td>
                <td><button class="uk-button uk-button-default" type="button">View</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
  </div>
</div>
{% endblock %}
