{% extends 'base.html' %}
{% block body %}
{% load static %}
{% load i18n %}

<script>
    function Sleep(milliseconds) {
        return new Promise(resolve => setTimeout(resolve, milliseconds));
    }
    
    async function openTab() {
        if (document.getElementById("Small (S)") != null) {
            if (!document.getElementById("Small (S)").checked && !document.getElementById("Medium (M)").checked && !document.getElementById("Large (L)").checked) {
                document.getElementById("error1").innerHTML = "Bitte w&aumlhlen Sie eine Option aus.";
            } else {
                if (document.getElementById("Small (S)").checked){
                    document.getElementById("error1").style.color = "#3fa659";
                    document.getElementById("error1").innerHTML = "Korrekt! Sie haben die passendste Option ausgewählt!";
                } else {
                    document.getElementById("error1").innerHTML = "Leider haben Sie nicht die passendste Option ausgewählt!";
                }
                await Sleep(2500);
                document.getElementById('Bewertung').style.display = "block";
                document.getElementById('Auswahl').style.display = "none";
            }
        }
        if (document.getElementById("< 400.000 Euro") != null) {
            if (!document.getElementById("< 400.000 Euro").checked && !document.getElementById("400.000 - 700.000 Euro").checked && !document.getElementById("> 700.000 Euro").checked) {
                document.getElementById("error1").innerHTML = "Bitte w&aumlhlen Sie eine Option aus.";
            } else {
                if (document.getElementById("< 400.000 Euro").checked){
                    document.getElementById("error1").style.color = "#3fa659";
                    document.getElementById("error1").innerHTML = "Korrekt! Sie haben die passendste Option ausgewählt!";
                } else {
                    document.getElementById("error1").innerHTML = "Leider haben Sie nicht die passendste Option ausgewählt!";
                }
                await Sleep(2500);
                document.getElementById('Bewertung').style.display = "block";
                document.getElementById('Auswahl').style.display = "none";
            }
        }        
    }

    function checkBewertung() {
        if ((document.getElementById("1-0").checked || document.getElementById("1-1").checked || document.getElementById("1-2").checked || document.getElementById("1-3").checked || document.getElementById("1-4").checked) && 
            (document.getElementById("2-0").checked || document.getElementById("2-1").checked || document.getElementById("2-2").checked || document.getElementById("2-3").checked || document.getElementById("2-4").checked) &&
            (document.getElementById("3-0").checked || document.getElementById("3-1").checked || document.getElementById("3-2").checked || document.getElementById("3-3").checked || document.getElementById("3-4").checked) &&
            (document.getElementById("4-0").checked || document.getElementById("4-1").checked || document.getElementById("4-2").checked || document.getElementById("4-3").checked || document.getElementById("4-4").checked) &&
            (document.getElementById("5-0").checked || document.getElementById("5-1").checked || document.getElementById("5-2").checked || document.getElementById("5-3").checked || document.getElementById("5-4").checked)) {
            document.getElementById("abgabeButton").href = "{% url 'surveys:testround_end' survey.id session.key %}";
        } else {
            document.getElementById("error2").innerHTML = "Bitte vervollst&aumlndigen Sie Ihre Bewertung.";
        }
    }
</script>


<div class="uk-container uk-margin-top">
    <table style="border-bottom: 0.5px solid #ccc;height:680px;width:100%">
        <colgroup>
            <col style="width:50%">
            <col style="width:50%">
        </colgroup>
        <tr>
            <td valign="top" style="font-size: 17px; padding-top:40px">
                <div id="Auswahl" class="tabcontent" style="display:block; padding-left: 12px; width:90%">

                    {% if contextRandom == "Immobilienpreis" %}

                    <p style="font-weight:bold;">Welchen Wert w&uumlrden Sie einer Immobilie mit folgenden Eigenschaften zuschreiben?</p>
                    <p style="font-weight:bold; padding-top: 30px">Eigenschaften</p>
                    <table>
                        <colgroup>
                            <col style="width:45%">
                            <col style="width:5%">
                            <col style="width:5%">
                            <col style="width:30%">
                            <col style="width:15%">
                        </colgroup>
                        <tr style="line-height:170%">
                            <td>
                                Baujahr<br />
                                Grundst&uumlcksfl&aumlche<br />
                                Wohnfl&aumlche<br />
                                Zimmeranzahl
                            </td>
                            <td></td>
                            <td style="border-right: thin solid #d6d6d6;"></td>
                            <td align="right">
                                1936 <br />
                                104 <br />
                                56 <br />
                                3
                            </td>
                            <td>

                                m&sup2 <br />
                                m&sup2 <br />
                            </td>
                        </tr>
                    </table>
                    <p style="font-weight:bold; padding-top: 30px">Immobilienwert</p>
                    <input type="radio" id="< 400.000 Euro" name="wert" />
                    <label for="< 400.000 Euro" style="color:#663399"> < 400.000 &#8364 </label> &nbsp;&nbsp;
                    <input type="radio" id="400.000 - 700.000 Euro" name="wert" />
                    <label for="400.000 - 700.000 Euro" style="color:#b8860b"> 400.000 - 700.000 &#8364 </label>&nbsp;&nbsp;
                    <input type="radio" id="> 700.000 Euro" name="wert" />
                    <label for="> 700.000 Euro" style="color:#4682b4"> > 700.000 &#8364 </label>

                    {% else %}

                    <p style="font-weight:bold;">Welche Kleidergr&ouml&szlige w&uumlrden Sie einer Frau mit folgenden K&oumlrperma&szligen zuschreiben?</p>
                    <p style="font-weight:bold; padding-top: 30px">K&oumlrperma&szlige</p>
                    <table>
                        <colgroup>
                            <col style="width:45%">
                            <col style="width:5%">
                            <col style="width:5%">
                            <col style="width:30%">
                            <col style="width:15%">
                        </colgroup>
                        <tr style="line-height:170%">
                            <td>
                                K&oumlrpergr&ouml&szlige<br />
                                Brustumfang<br />
                                Taillenumfang<br />
                                H&uumlftumpfang
                            </td>
                            <td></td>
                            <td style="border-right: thin solid #d6d6d6;"></td>
                            <td align="right">
                                157<br />
                                81 <br />
                                56<br />
                                84
                            </td>
                            <td>
                                cm <br />
                                cm <br />
                                cm <br />
                                cm
                            </td>
                        </tr>
                    </table>
                    <p style="font-weight:bold; padding-top: 30px">Kleidergr&ouml&szlige</p>
                    <input type="radio" id="Small (S)" name="groesse" />
                    <label for="Small (S)" style="color:#663399"> Small (S) </label> &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="Medium (M)" name="groesse" />
                    <label for="Medium (M)" style="color:#b8860b"> Medium (M) </label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="Large (L)" name="groesse" />
                    <label for="Large (L)" style="color:#4682b4"> Large (L) </label>

                    {% endif %}

                    <br />
                    <br />
                    <i id="error1" style="color:#F0506E"></i>
                    <br />
                    <p><a class="uk-button uk-button-primary uk-margin-bottom" style="background-color: #707070;" onclick="openTab()">{% trans "Überprüfen und weiter" %}</a></p>
                </div>

                <div id="Bewertung" class="tabcontent" style="display:none; padding-left: 12px;">
                    <p style="font-weight:bold;">Wie bewerten Sie den vorliegenden Erkl&aumlrungsansatz?</p>
                    <table style="width:90%">
                        <colgroup>
                            <col style="width:32%">
                            <col style="width:36%">
                            <col style="width:32%">
                        </colgroup>
                        <tr style="line-height:170%">
                            <td>
                                nutzlos <br />
                                unverst&aumlndlich<br />
                                zwielichtig <br />
                            </td>
                            <td>
                                <input type="radio" name="nuetzlich" id="1-0">
                                <input type="radio" name="nuetzlich" id="1-1">
                                <input type="radio" name="nuetzlich" id="1-2">
                                <input type="radio" name="nuetzlich" id="1-3">
                                <input type="radio" name="nuetzlich" id="1-4"> <br />
                                <input type="radio" name="verstaendlich" id="2-0">
                                <input type="radio" name="verstaendlich" id="2-1">
                                <input type="radio" name="verstaendlich" id="2-2">
                                <input type="radio" name="verstaendlich" id="2-3">
                                <input type="radio" name="verstaendlich" id="2-4"> <br />
                                <input type="radio" name="vertrauenswuerdig" id="3-0">
                                <input type="radio" name="vertrauenswuerdig" id="3-1">
                                <input type="radio" name="vertrauenswuerdig" id="3-2">
                                <input type="radio" name="vertrauenswuerdig" id="3-3">
                                <input type="radio" name="vertrauenswuerdig" id="3-4">
                            </td>
                            <td>
                                n&uumltzlich <br />
                                verst&aumlndlich <br />
                                vertrauensw&uumlrdig
                            </td>
                        </tr>
                    </table>
                    <p style="font-weight:bold; padding-top: 30px">Wie haben Sie die Entscheidung getroffen?</p>
                    <table style="width:90%">
                        <colgroup>
                            <col style="width:32%">
                            <col style="width:36%">
                            <col style="width:32%">
                        </colgroup>
                        <tr style="line-height:170%">
                            <td>
                                eigenst&aumlndig
                            </td>
                            <td>
                                <input type="radio" name="entscheidung" id="4-0">
                                <input type="radio" name="entscheidung" id="4-1">
                                <input type="radio" name="entscheidung" id="4-2">
                                <input type="radio" name="entscheidung" id="4-3">
                                <input type="radio" name="entscheidung" id="4-4">
                            </td>
                            <td>
                                mit Hilfe der Empfehlung <br />
                            </td>
                        </tr>
                    </table>
                    <p style="font-weight:bold; padding-top: 30px">Wie sicher haben Sie sich bei der Entscheidung gef&uumlhlt?</p>
                    <table style="width:90%">
                        <colgroup>
                            <col style="width:32%">
                            <col style="width:36%">
                            <col style="width:32%">
                        </colgroup>
                        <tr style="line-height:170%">
                            <td>
                                unsicher
                            </td>
                            <td>
                                <input type="radio" name="sicherheit" id="5-0">
                                <input type="radio" name="sicherheit" id="5-1">
                                <input type="radio" name="sicherheit" id="5-2">
                                <input type="radio" name="sicherheit" id="5-3">
                                <input type="radio" name="sicherheit" id="5-4">
                            </td>
                            <td>
                                sicher <br />
                            </td>
                        </tr>
                    </table>
                    <br />
                    <i id="error2" style="color:#F0506E"></i>
                    <br />
                    <br />
                    <a id="abgabeButton" class="uk-button uk-button-primary uk-margin-large-bottom" onClick="checkBewertung()" style="background-color: #707070" href=#>{% trans "Bewertung abgeben" %}</a>
                </div>
            </td>

            <td valign="top" style="font-size: 17px;padding-left:35px;background-color:#ededed;padding-top:40px">

                {% if aimethodRandom == "svm" %}
                <p style="font-weight:bold;">Empfehlung auf Basis der <i>Support-Vektor-Maschine</i>: </p>
                {% else %}
                <p style="font-weight:bold;">Empfehlung auf Basis der <i>N&aumlchsten-Nachbarn-Klassifikation</i>: </p>
                {% endif %}

                <p style="font-weight:bold;color:#3fa659" id="ki">{{predicted}}</p>
               
                <div style="padding-top:50px;">
                    <p style="font-weight:bold;">{{explanationRandom}}e Erkl&aumlrung der Empfehlung:</p>
                    {% if explanationRandom == "Textuell" %}
                    {% if aimethodRandom == "svm" %}
                    {% if contextRandom == "Immobilienpreis" %}

                    {% if "<" in predicted %}
                    <p style="width:95%">Der Vektor, der die hier aufgef&uumlhrten Eigenschaften umfasst, befindet sich im Vektorraum in dem Bereich, in dem sich die Vektoren der Immobilien befinden, die f&uumlr <font style="color:#663399">{{predicted}}</font> verkauft wurden. </p>
                    {% elif "-" in predicted %}
                    <p style="width:95%">Der Vektor, der die hier aufgef&uumlhrten Eigenschaften umfasst, befindet sich im Vektorraum in dem Bereich, in dem sich die Vektoren der Immobilien befinden, die f&uumlr <font style="color:#b8860b">{{predicted}}</font> verkauft wurden. </p>
                    {% else %}
                    <p style="width:95%">Der Vektor, der die hier aufgef&uumlhrten Eigenschaften umfasst, befindet sich im Vektorraum in dem Bereich, in dem sich die Vektoren der Immobilien befinden, die f&uumlr <font style="color:#4682b4">{{predicted}}</font> verkauft wurden. </p>
                    {% endif %}

                    {% else %}

                    {% if predicted == "Small (S)" %}
                    <p style="width:95%">Der Vektor, der die hier aufgef&uumlhrten Ma&szlige umfasst, befindet sich im Vektorraum in dem Bereich, in dem sich die Vektoren der Kunden befinden, die Kleidergr&ouml&szlige <font style="color:#663399">{{predicted}}</font> bestellt haben.    </p>
                    {% elif predicted == "Medium (M)" %}
                    <p style="width:95%">Der Vektor, der die hier aufgef&uumlhrten Ma&szlige umfasst, befindet sich im Vektorraum in dem Bereich, in dem sich die Vektoren der Kunden befinden, die Kleidergr&ouml&szlige <font style="color:#b8860b">{{predicted}}</font> bestellt haben.    </p>
                    {% else %}
                    <p style="width:95%">Der Vektor, der die hier aufgef&uumlhrten Ma&szlige umfasst, befindet sich im Vektorraum in dem Bereich, in dem sich die Vektoren der Kunden befinden, die Kleidergr&ouml&szlige <font style="color:#4682b4">{{predicted}}</font> bestellt haben.    </p>
                    {% endif %}

                    {% endif %}
                    {% else %}
                    {% if contextRandom == "Immobilienpreis" %}
                    <p style="width:95%"> Von 25 Immobilien mit &aumlhnlichen Eigenschaften wurden {{countS}} Immobilien f&uumlr <font style="color:#663399">< 400.000&nbsp&#8364</font> verkauft. {{countM}} Immobilien wurden f&uumlr <font style="color:#b8860b">400.000 - 700.000&nbsp&#8364</font> und {{countL}} Immobilien f&uumlr <font style="color:#4682b4">> 700.000&nbsp&#8364</font> verkauft. </p>
                    {% else %}
                    <p style="width:95%"> Von 25 Kunden mit &aumlhnlichen K&oumlrperma&szligen haben sich {{countS}} Kunden f&uumlr Kleidergr&ouml&szlige <font style="color:#663399">Small (S)</font> entschieden. {{countM}} Kunden haben Kleidergr&ouml&szlige <font style="color:#b8860b">Medium (M)</font> und {{countL}} Kunden haben Kleidergr&ouml&szlige <font style="color:#4682b4">Large (L)</font> bestellt. </p>
                    {% endif %}
                    {% endif %}
                    {% endif %}

                    {% if explanationRandom == "Beispielbasiert" %}
                    {% if contextRandom == "Immobilienpreis" %}
                    <table style="width:95%;text-align:center; line-height:170%">
                        <colgroup>
                            <col style="width:20%">
                            <col style="width:20%">
                            <col style="width:20%">
                            <col style="width:20%">
                            <col style="width:20%">
                        </colgroup>
                        <tr>
                            <td>Baujahr</td>
                            <td>Grundst&uumlcks- <br /> fl&aumlche*</td>
                            <td>Wohn- <br /> fl&aumlche*</td>
                            <td>Zimmer- <br /> anzahl</td>
                            <td>Wert</td>
                        </tr>
                        <tr>
                            <td style="border-bottom: thin solid #d6d6d6;"></td>
                            <td style="border-bottom: thin solid #d6d6d6;"></td>
                            <td style="border-bottom: thin solid #d6d6d6;"></td>
                            <td style="border-bottom: thin solid #d6d6d6;"></td>
                            <td style="border-bottom: thin solid #d6d6d6;"></td>

                        </tr>
                        <tr>
                            <td>1936</td>
                            <td>110</td>
                            <td>77</td>
                            <td>3</td>
                            <td style="color:#663399">< 400.000 &#8364</td>
                        </tr>
                        <tr>
                            <td>1960</td>
                            <td>137</td>
                            <td>102</td>
                            <td>6</td>
                            <td style="color:#b8860b">400.000 - 700.000 &#8364</td>
                        </tr>
                        <tr>
                            <td>1969</td>
                            <td>168</td>
                            <td>118</td>
                            <td>6</td>
                            <td style="color:#4682b4">> 700.000 &#8364</td>
                        </tr>
                    </table>
                    <p>* Angaben in m&sup2</p>
                    {% else %}
                    <table style="width:95%;text-align:center;line-height:170%">
                        <colgroup>
                            <col style="width:20%">
                            <col style="width:20%">
                            <col style="width:20%">
                            <col style="width:20%">
                            <col style="width:20%">
                        </colgroup>
                        <tr>
                            <td>K&oumlrper-<br />gr&ouml&szlige*</td>
                            <td>Brust- <br />umfang*</td>
                            <td>Taillen- <br />umfang*</td>
                            <td>H&uumlft- <br />umfang*</td>
                            <td>Kleider- <br />gr&ouml&szlige</td>
                        </tr>
                        <tr>
                            <td style="border-bottom: thin solid #d6d6d6;"></td>
                            <td style="border-bottom: thin solid #d6d6d6;"></td>
                            <td style="border-bottom: thin solid #d6d6d6;"></td>
                            <td style="border-bottom: thin solid #d6d6d6;"></td>
                            <td style="border-bottom: thin solid #d6d6d6;"></td>

                        </tr>
                        <tr>
                            <td>157</td>
                            <td>84</td>
                            <td>69</td>
                            <td>89</td>
                            <td style="color:#663399">Small (S)</td>
                        </tr>
                        <tr>
                            <td>165</td>
                            <td>97</td>
                            <td>84</td>
                            <td>114</td>
                            <td style="color:#b8860b">Medium (M)</td>
                        </tr>
                        <tr>
                            <td>168</td>
                            <td>112</td>
                            <td>94</td>
                            <td>114</td>
                            <td style="color:#4682b4">Large (L)</td>
                        </tr>
                    </table>
                    <p>* Angaben in cm</p>
                    {% endif %}
                    {% endif %}
                    {% if explanationRandom == "Visuell" %}
                    <!--<img src="{% static 'surveys/img/visuell.png'%}" style=" height: 100%;width:100%">-->
                    {{ graph|safe }}

                    {% endif %}
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}

